* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head {
    display: flex;
    justify-content: center;
    background: #1F2937;
    padding-top: 15px;
    padding-bottom: 15px;
}

.inhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    
    
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: bold;    
}

div .links {
    display: flex;
    gap: 20px;
    list-style-type: none;   
}

a {
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
}

.mainlane1 {
    background: #F9FAF8;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: #F9FaF8;    
}

.inmainlane1 {
    display: flex;
    width: 800px;            
}

.text1 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    gap: 20px;    
}

.text11 {
    font-size: 48px;
    font-weight: bolder;
}

.text12 {
    font-size: 18px;    
}

.image1 {
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}

#image1 {
    height: 100%;
    border: 2px solid white;    
}

button {
    background: #3882F6;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 4px;
}

.mainlane2 {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.inmainlane2 {
    flex-direction: column;
    width: 800px;
    display: flex;
    align-items: center;
    gap: 30px;    
}

.randominfo {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.box {
    display: flex;
    width: 800px;
    justify-content: space-between;

}

.box1,
.box2,
.box3,
.box4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;    
}

.icon {
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
    border: 3px solid black;
}

.textbox {
    text-align: center;
    color:#1F2937;
}

.mainlane3 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e5e7eb;
}

.inmainlane3 {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.text31 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.text32 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    text-align: end;
}

.mainlane4 {
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.inmainlane4 {
 width: 800px;
 justify-content: center;
 
}

.bluebox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882F6;
    padding: 30px;
    gap: 330px;        
}

.text41 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text411 {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.text412 {
    font-size: 18px;
    color: white;
}

.button2 {
    border: 1px solid white;
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid white;
    border-radius: 4px;    
}

.mainlane5 {
    background: #1F2937;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.inmainlane5 {
    display: flex;
    width: 800px;
    justify-content: center;   
}

p {
    color: white;
    font-size: 18px;
}















